@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Roboto:wght@300&display=swap');
.main{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}
.navbar{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color:aquamarine;
}

.navbar_icon{
    display: flex;
    margin:auto auto;
}
.icon{
    height: 50px !important;
    width: 50px !important;
    margin-right: 5px;
}
.title{
    font-weight: 400;
    font-size: 30px;
    margin-top: 4px;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.contain{
    display: flex;
    width: 100vw;
    background-color:gray;
    height: 70vh;
    overflow: hidden;
}
.play{
}